body{
    background-color:hsl(30, 54%, 90%);
    font-size: 16px;
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    color: hsl(30, 10%, 34%);
}
.recipe-card{
    background-color:hsl(0, 0%, 100%);
    border-radius: 30px;
    max-width: 540px;
    margin: auto;
    padding: 3%;
}
.recipe-card img{
    width: 100%;
    border-radius: 20px;
}
h1{
    font-family: 'Young Serif', serif;
    color: hsl(24, 5%, 18%);
    font-weight: 400;
}
section{
    margin-bottom: 30px;
}
#preparation{
    background-color: hsl(30, 18%, 87%);
    padding: 20px;
    border-radius: 3%;
}
#preparation h2{
    font-family: 'Outfit', sans-serif;
    color: hsl(332, 51%, 32%);
    font-weight: 700;
}
h2{
    font-family: 'Young Serif', serif;
    color: hsl(14, 45%, 36%);
    font-weight: 400;
}
strong{
    
    font-weight: 600;
}
/* li{
    margin-bottom: 10px;
    padding-left: 10px;
    list-style-position: inside;
    text-indent: -45px;
} */
ol,ul{
    padding-left: 20px;}
li{
    list-style-position: outside;
    padding-left:15px;
    margin-bottom: 10px;
}
   